<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-nz" lang="en-nz">

    <head>

        <title>MIT Timeline example</title>
        <script src="http://api.simile-widgets.org/timeplot/1.1/timeplot-api.js" type="text/javascript"></script>
        
    </head>

    <body onload="onLoad();" onresize="onResize();">
        <div id="my-timeplot" style="height: 150px;"></div>
        
        <script type="text/javascript">
        /* <![CDATA[ */
        function onLoad() {
          var eventSource = new Timeplot.DefaultEventSource();
          var plotInfo = [
            Timeplot.createPlotInfo({
              id: "plot1",
              dataSource: new Timeplot.ColumnSource(eventSource,1)
            })
          ];

          timeplot = Timeplot.create(document.getElementById("my-timeplot"), plotInfo);
          timeplot.loadText("/timeplot/search?search_text=foo", ",", eventSource);
        }
        /* ]]> */
        </script>
        
        <img src="/images/digitalnz-logo.jpg" alt="DNZ Logo" />
    </body>
</html>
